<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrar Solicitudes de Vacaciones</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <h1>Administración de Solicitudes de Vacaciones</h1>

    <button id="cerrar-sesion" onclick="cerrarSesion()">Cerrar Sesión</button>
    <div id="solicitudes-container">
        <p>Cargando solicitudes pendientes...</p>
    </div>

    <script src="script-admin.js"></script>
</body>
</html>
