<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Empleado</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <h1 id="welcomeMessage">¡Bienvenido!</h1>

    <nav>
        <ul>
            <li><a href="#">Mi perfil</a></li>
            <li><a href="#">Historial de solicitudes</a></li>
            <button href="solicitar-vacaciones.html">Solicitar Vacaciones Sesión</button> <br>
            <button onclick="cerrarSesion()">Cerrar Sesión</button>
        </ul>
    </nav>

    <div id="contenido">
        </div>

    <script src="script-empleado.js">
    </script>
</body>
</html>