<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opciones de Inicio de Sesión</title>
    <link rel="stylesheet" href="/styles.css"> <!-- Sin la ruta /public -->
</head>

<body>
    <header>
        <h1>Plataforma de Gestión de Vacaciones</h1>
    </header>
    
    <main>
        <section id="options">
            <h2>Seleccione el tipo de usuario</h2>
            <button id="buttonRRHH">RRHH</button>
            <button id="buttonEmpleado">Empleado</button>
            <button id="inicio" onclick="window.location.href='index.html'">Inicio</button>
        </section>
    </main>
    
    <footer>
        <p>&copy; 2024 Gestión de Vacaciones</p>
    </footer>
    <script src="/script-login-options.js"></script> <!-- Vincula archivo JavaScript -->
</body>
</html>
