<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opciones de Inicio de Sesión</title>
    <link rel="stylesheet" href="/styles.css"> <!-- Sin la ruta /public -->
</head>

<body>
    <header>
        <h1>Plataforma de Gestión de Vacaciones</h1>
    </header>
    
    <main>
        <section id="options">
            <h2>Seleccione el tipo de usuario</h2>
            <button id="RRHHBtn">RRHH</button>
            <button id="empleadoBtn"> Empleado</button>
            <button id= "inicioBtn">Inicio</button>
        </section>
    </main>
    
    <footer>
        <p>&copy; 2024 Gestión de Vacaciones</p>
    </footer>

    <script>  
        document.getElementById("RRHHBtn").addEventListener("click", function(){
            window.location.href = "/login-RRHH"; });

        document.getElementById("empleadoBtn").addEventListener("click", function(){
            window.location.href = "/login-empleado"; });
            
        document.getElementById("inicioBtn").addEventListener("click", function(){
            window.location.href = "index.html"; });
        
     </script> 

</body>
</html>
