<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css"> <!-- Sin la ruta /public -->

    <title>Login</title>

    <script>
        
        document.getElementById("inicioBtn").addEventListener("click", function() {
      window.location.href = "index.html";
    });

        async function loginEmpleado(event) {
            event.preventDefault(); // Evitar que el formulario recargue la página
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            const response = await fetch('/api/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ email, password })
            });

            const data = await response.json();

            if (data.success) {
                // Si el inicio de sesión fue exitoso, redirigimos al usuario
                window.location.href = `/inicio-empleado?name=${encodeURIComponent(data.nombre)}`; 
            } else {
                alert('Credenciales incorrectas o empleado no encontrado');
            }
        }


        
    </script>
</head>
<body>

    <header><h1> Plataforma Gestión de Vacaciones    </h1></header>


<main>
    <h2>Iniciar sesión - Empleado </h2>
    <form onsubmit="loginEmpleado(event)">

        <label for="email">Email:</label><br>
        <input type="email" id="email" required><br><br>

        <label for="password">Contraseña:</label><br>
        <input type="password" id="password" required><br><br>

        <button type="submit">Iniciar Sesión</button>
        <button id="inicioBtn">Inicio</button>
    </form>
</main>
    

    <footer>
        <p>&copy; 2024 Gestión de Vacaciones</p>
    </footer>

</body>
</html>
